
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3d3d;
}

h1{
    font-weight: 100;
    color: darkslategray;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.display{
    display: grid;
    height: 100%;
}


video{
    display: block;
}

section{
    opacity: 2;
    transition: opacity 500ms ease-in-out;
}

.background{
    margin: 0 auto 15px;
    max-width: 100%;
    max-height: 100vh;
}

.removed{
    display: none;
}

.invisible{
    opacity: 0.2;
}

.camView{
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
}

.camView p{
    position: absolute;
    padding: 5px;
    font-size: 12px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.highlighter{
    border: 2px solid rgb(206, 94, 94);
    /* background: rgba(0, 255, 0, 0.25); */
    box-shadow: 0 0 50px 0 white;
    z-index: 1;
    position: absolute;
    display: grid;
    place-content: center;
}